@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
}

.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section-title span {
    color: rgb(25, 68, 112);
}

.cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: black;
    border: 2px solid rgb(25, 68, 112);
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    transition: 0.3s ease;
    transition-property: background-color, color;
    z-index: 10;
}

.cta:hover {
    color: white;
    background-color: rgb(25, 68, 112);
}

.brand h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    border-radius: 10pt;
    border-color: white;
}

.brand h1 span {
    color: rgb(25, 68, 112);
    border-radius: 10pt;
    border-color: white;
}


/* Header section */

#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
    background-color: black;
}

#header .header {
    min-height: 8vh;
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
    background-color: black;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: black;
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: rgb(25, 68, 112);
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}


/* End Header section */


/* Hero Section */

#hero {
    background-image: url(./img/hero-bg.png);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    text-align: center;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.7;
    z-index: -1;
    text-align: center;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: center;
    text-align: center;
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: rgb(25, 68, 112);
    text-align: center;
}

#hero h1 span {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    color: rgb(25, 68, 112);
    background-color: rgb(25, 68, 112);
}


/* End Hero Section */


/* Services Section */

#achieve .services {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

#achieve .service-top {
    max-width: 500px;
    margin: 0 auto;
}

#achieve .service-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

#achieve .service-item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(./img/img-1.png);
    background-size: cover;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#achieve .service-item:hover {
    transform: scale(1.2);
}

#achieve .service-item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.9;
    z-index: -1;
}

#achieve .service-bottom .icon {
    margin-left: 30%;
    height: 90px;
    width: 85px;
    margin-bottom: 20px;
    border-radius: 100%;
}

#achieve .service-item h2 {
    font-size: 1.7rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#achieve .service-item p {
    color: white;
    text-align: left;
}


/* End Services Section */


/* Projects section */

#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#projects .project-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

#projects .project-info {
    padding: 30px;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    color: white;
}

#projects .project-info h1 {
    font-size: 4rem;
    font-weight: 500;
}

#projects .project-info h2 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

#projects .project-info h3 {
    color: rgb(150, 197, 219);
    font-size: 1.8em;
    text-decoration-line: underline;
}

#projects .project-info h3:hover {
    color: rgb(243, 242, 242);
    font-size: 2.0em;
    transition: ease 1s;
    text-decoration-line: none;
}

#projects .project-info p {
    color: white;
}

#projects .project-img {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#projects .project-img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /*background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);*/
    opacity: 0.7;
}

#projects .project-img img {
    transition: 0.3s ease transform;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}


/* End Projects section */


/* About Section */

#about .about {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 30px;
}

#about .col-left {
    width: 240px;
    height: 360px;
}

#about .col-left:hover {
    transform: scale(1.2);
}

#about .col-right {
    width: 80%;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p {
    margin-bottom: 20px;
}

#about .col-right .cta {
    color: white;
    margin-bottom: 50px;
    padding: 15px 20px;
    font-size: 2rem;
}

#about .col-left .about-img {
    height: 100%;
    width: 105%;
    position: relative;
    /*border: 10px solid white;*/
}

#about .col-right .about-img:hover {
    transform: sclae(1.2);
    /*border: 10px solid white;*/
}

#about .col-left .about-img::after {
    content: '';
    position: absolute;
    left: -33px;
    top: 19px;
    height: 98%;
    width: 98%;
    /*border: 7px solid rgb(25, 68, 112);*/
    z-index: -1;
}


/* End About Section */


/* contact Section */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
}

#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}


/*End contact Section */


/* Footer */

#footer {
    background: black
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
}


/* End Footer */


/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}

@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: rgb(25, 68, 112);
        font-weight: 500;
    }
}


/* End Keyframes */


/* Media Query For Tablet */

@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title {
        font-size: 6rem;
    }
    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }
    /* End Hero */
    /* Services Section */
    #achieve .service-bottom .service-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Services Section */
    /* Project */
    #projects .project-item {
        flex-direction: row;
    }
    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    #projects .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }
    #projects .all-projects .project-info {
        height: 100%;
    }
    #projects .all-projects .project-img {
        height: 100%;
    }
    /* End Project */
    /* About */
    #about .about {
        flex-direction: row;
    }
    #about .col-left {
        width: 600px;
        height: 400px;
        padding-left: 60px;
    }
    #about .about .col-left .about-img::after {
        left: -45px;
        top: 34px;
        height: 98%;
        width: 98%;
        /*border: 10px solid rgb(25, 68, 112);*/
    }
    #about .col-right {
        text-align: left;
        padding: 30px;
    }
    #about .col-right h1 {
        text-align: left;
    }
    /* End About */
    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
}


/* End Media Query For Tablet */


/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: solid black;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    /* End header */
    #achieve .service-bottom .service-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}


/* End  Media Query For Desktop */


/*
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-facebook {
    background: #3B5998;
    color: green;
}

.fa-twitter {
    background: green;
    color: blue;
}
*/

b {
    margin: 0;
    padding: 0;
    background: #ccc;
    z-index: 9;
    font-family: 'Roboto Condensed', sans-serif;
}

u1 {
    display: inline-flex;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding: 0;
    border-color: solid grey;
    z-index: 9;
}

u1 li {
    list-style: none;
    margin: 0 5px;
    border-color: solid grey;
    z-index: 9;
}

u1 li a .fa {
    font-size: 40px;
    color: #262626;
    line-height: 80px;
    transition: .5s;
    padding-right: 14px;
    z-index: 9;
}

u1 li a span {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
    border-color: solid grey;
    z-index: 9;
}

u1 li a {
    text-decoration: none;
    display: absolute;
    display: block;
    width: 210px;
    height: 80px;
    background: #fff;
    border-color: solid grey;
    text-align: left;
    padding-left: 20px;
    transform: rotate(-25deg) skew(25deg) translate(0, 0);
    /*change ortation of blocks*/
    transition: .5s;
    box-shadow: -20px 20px 10px rgba(0, 0, 0, .5);
    z-index: 9;
}

u1 li a:before {
    content: '';
    border-color: solid grey;
    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
    z-index: 9;
}

u1 li a:after {
    content: '';
    border-color: solid grey;
    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
    z-index: 9;
}

u1 li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
    box-shadow: -50px 50px 50px rgba(0, 0, 0, .5);
}

u1 li:hover .fa {
    color: black
}

u1 li:hover span {
    color: black
}

u1 li:hover:nth-child(1) a {
    background: rgb(25, 68, 112);
}

u1 li:hover:nth-child(1) a:before {
    background: rgb(25, 68, 112);
}

u1 li:hover:nth-child(1) a:after {
    background: rgb(25, 68, 112);
}

u1 li:hover:nth-child(2) a {
    background: rgb(25, 68, 112);
    z-index: 9;
}

u1 li:hover:nth-child(2) a:before {
    background: rgb(25, 68, 112);
    z-index: 9;
}

u1 li:hover:nth-child(2) a:after {
    background: rgb(25, 68, 112);
    z-index: 9;
}

u1 li:hover:nth-child(3) a {
    background: rgb(25, 68, 112);
    z-index: 9;
}

u1 li:hover:nth-child(3) a:before {
    background: rgb(25, 68, 112);
}

u1 li:hover:nth-child(3) a:after {
    background: rgb(25, 68, 112);
}

u1 li:hover:nth-child(4) a {
    background: rgb(25, 68, 112);
}

u1 li:hover:nth-child(4) a:before {
    background: rgb(25, 68, 112);
}

u1 li:hover:nth-child(4) a:after {
    background: rgb(25, 68, 112);
}

.container2 {
    max-width: 900px;
    height: 600px;
    background: black;
    margin: 150px auto;
    box-shadow: 0 0 20px rgba(72, 98, 85, 0.6);
    box-sizing: border-box;
    padding: 40px;
}

.p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 45px;
    margin-bottom: 20px;
    color: white;
}

.p2 {
    text-align: center;
    letter-spacing: 1px;
    font-size: 25px;
    margin-bottom: 20px;
    color: white;
}

.input2,
.msg2 .area2 {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 25px;
    border: 2px solid #e9eaea;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
    transform: all 0.5s ease;
}

.login2 .input2 {
    width: 48%;
    float: left;
    margin-right: 4%;
}

.login2 .input2:last-child {
    margin-right: 0;
}

.msg2 .area2 {
    height: 200px;
}

.btn2 {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 250px;
    background: grey;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    place-content: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.input2,
.msg2,
.area2 {
    color: black;
}

.h10 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;
    margin: 80px 0;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 20;
}

.im1 {
    display: flex;
    max-height: 100%;
    overflow: auto;
}

.im2 {
    display: flex;
    max-height: 100%;
    overflow: scroll;
}

.im3 {
    display: flex;
    height: 90%;
    max-height: 100%;
    overflow: hidden;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 60%;
    height: 85%;
    position: relative;
    transition: all 1s ease-in-out;
    text-align: center;
}

.popup h20 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    text-align: center;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    transform: scale(1.8);
}

.popup .content {
    max-height: 100%;
    overflow: auto;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .box {
        width: 90%;
    }
    .popup {
        width: 90%;
    }
}


.wrapper {
    height: 100vh;
    /* This part is important for centering the content */
    display: flex;
    align-items: center;
    justify-content: center;
    /* End center */
    background: -webkit-linear-gradient(to right, #834d9b, #d04ed6);
    background: linear-gradient(to right, #834d9b, #d04ed6);
}

.wrapper a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    background-color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    color: #585858;
    font-family: 'Roboto', sans-serif;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
}

.modal:target {
    position:absolute;
    opacity: 0;
    visibility: visible;
    z-index:50;
}

.modal__content {
    border-radius: 4px;
    position: relative;
    width: 500px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
}

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #585858;
    text-decoration: none;
}
